.swiper {
    width: 100%;
    max-width: 384px; /* соответствует w-96 */
    height: 100%;    /* выберите нужную высоту */
    border-radius: 0.5rem;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.card,
.swiper,
.swiper-slide,
.swiper-slide img {
    z-index: 0 !important;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
    z-index: 10 !important;
    position: absolute;
}