.swiper {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
}

/* Ограничиваем ширину только для свайпера внутри карточки сервиса,
   чтобы общий свайпер секции занимал всю ширину контейнера */
.card .swiper {
    max-width: 384px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0; /* Без скругления у изображения, чтобы стили карточек были одинаковы */
}

.card,
.swiper,
.swiper-slide,
.swiper-slide img {
    z-index: 0 !important;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
    z-index: 10 !important;
    position: absolute;
}